.form-Header{
    font-size: 30px;
    color: white;
    font-family: vani Bold;
    text-align: center;
    background-color: rgb(41, 14, 192);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 70px;
 }
 .employeeform{
     margin-left: 20%;
     margin-right: 20%;
     box-shadow: 2px 0px 10px  rgb(128,128,128);
    
     border-radius: 3%;
 }
 .alert{
     background-color: rgb(240, 223, 223);
     border-color: red;
 }
 .red-text{
     color:red;
 }
 .form-contain{
  
     padding: 20px;
 }