.form-Header{
    font-size: 30px;
    color: blue;
    font-family: Arial Narrow Bold;
    text-align: center;
 }
 .employeeform{
     margin-left: 10%;
     margin-right: 10%;
     box-shadow: 2px 0px 10px  rgb(128,128,128);
     padding: 20px;
     border-radius: 3%;
 }
 .alert{
     background-color: rgb(240, 223, 223);
     border-color: red;
 }
 .red-text{
     color:red;
 }
 .checkboxsty .form-check-input {
 color:darkblue;
 }
 